.page_content{
    margin: 20px 40px 40px 40px;
}
.container{
    display:flex;

}
.vertical{
    flex-direction:column;
    align-items: stretch;
}
.panel {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttonzone{
    align-self: center;
}