.index-page {
    display: flex;
    height: calc(90vh - 60px);
    flex-direction: column;
}

.my-nav {
    margin-top: 0;
}

.my-carousel-container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 40%;
    display: flex;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 225, 193);
    border-radius: 5%;
}

.img-container > img {
    border-radius: 5%;
}

img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.image-uploader > label {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.product-name {
    line-height: 2em;
}