
.MainContainer {
    /* padding: 2% 5%; */
    margin-left: 100px;
    
    /* box-sizing: border-box; */
    /* background-size: contain; */
    /* width: 100%; */
    display: flex;
    
    /* justify-content: center; */
    /* align-items: center; */
    
  }

.ProductPreview {
    width: 14%;
    padding: 10% 14% ;
    margin-left: 100px;
    /* justify-content: right; */
    /* display: flex;
    justify-content: center; */
    align-items: center; 
    
    
}

.Word{
    margin-top: 100px;
}
.ProductTitle {
    margin-top: 100;
    margin-bottom: 10px;
    width: 100%;
    /* padding: 5% 1% ; */
    font-size: 25px;
    font-weight: 600;
    font-family: 'Monospace',Monaco;
    justify-content: left;
}

.ProductDescription{
    /* padding: 1% ; */
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Monospace',Monaco;
    display: flex;
    justify-content: left;
    max-width: 40%;
}
.LikeAndViewDescription{
    margin-top: 2px;
    display: flex;
    justify-content: center;
}


.Feature{
    
    min-width: 80px;
    background-color: gainsboro;
    border-radius: 8px;
    border: 0;
    
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: content-box;
    font-weight: 600;
    padding: 12px 12px;
    
    
}

.input-field input {
	font-size: 16px;
	display: block;
	font-family: 'Rubik', sans-serif;
	width: 100%;
	padding: 10px 1px;
	border: 0;
	border-bottom: 1px solid #747474;
	outline: none;
	-webkit-transition: all .2s;
	transition: all .2s;
  }

.CommentArea{
    display: flex;
    /* justify-content: center;
    align-items: center;  */
    width:"30%";
    margin-left: 27%;
    margin-top: 4%;
}



/* //change like button color */
/* .ChangeLike{
    min-width: 80px;
    background-color: rgb(236, 189, 189);
    border-radius: 8px;
    border: 0;
    
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: content-box;
    font-weight: 600;
    padding: 12px 12px;
} */
/* //change button color */
/* .ChangeBuy{
    min-width: 80px;
    background-color: rgb(176, 223, 239);
    border-radius: 8px;
    border: 0;
    
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: content-box;
    font-weight: 600;
    padding: 12px 12px;
} */

.LikesAndViews{
    /* display: inline-block; */
    width: 45px;
    
}

.Button{
    display: flex;
    justify-content: center;
    
}



