.member-page {
    display: flex;
    height: calc(90vh - 60px);
    justify-content: center;
}
.member-page > div{
    flex: 1;
}

.body-text {
    padding: 1rem 3rem 1rem 3rem;
    font-size: 30px;
    line-height: 2em;
}

Table {
    font-size: 18px;
}

tr {
    line-height: 1.5em;
}

img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.border-column {
    border-right: 2px solid rgb(255, 225, 193);
}

.button-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}