.member-page {
    display: flex;
    height: 90vh;
    justify-content: center;
}
.member-page > div{
    flex: 1;
}

.body-text {
    padding: 1rem 3rem 1rem 3rem;
    font-size: 30px;
    line-height: 2em;
}

Table {
    font-size: 18px;
}

tr {
    line-height: 1.5em;
}